.app {
    text-align: center;
  }
  
  .app_logo {
    animation: App-logo-spin infinite 4s cubic-bezier(0.80, -1.55, 0.40, -1.55);
    height: 80px;
    margin-left: 35%;
    margin-right: 40%;
  }
  
  .app_header {
    background-color: #222;
    padding: 20px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    font-weight: 100;
  }
  
  .app_intro {
    font-size: large;
  }
  
  .app_list {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  
  .app_button {
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
    color: black;
    background-color: white;
    cursor: pointer;
    opacity: .8;
    outline: 0;
  }
  
  .app_button:hover {
    opacity: 1;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }