.message {
    position: relative;
    padding: 10px 60px 10px 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.952);
    background-color: rgba(0, 0, 0, .05);
    text-align: left;
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.message:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.534);
    color: aliceblue;
}

.message_author {
    font-weight: 600;
    margin-right: 20px;
    color: rgb(2, 30, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}